

.App {
  text-align: center;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#img{
  display: none;
  animation: App-logo-spin cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button{
  font-size: 20px;
  border-radius: 6px;
}
@font-face {
  font-family: digital;
  src: url(./digital-7.ttf);
}



.display{
  

  border-radius: 5px;
  border-color: dimgrey;
  font-family:digital;
}

main {
  
  margin: 0 1 em;
  max-width: 100px;
  max-height: 800px;
  background-color: dimgrey;
  border: #000;
  border-radius: 15px;
  padding-bottom: 20px;
}
